# List

In [1]:
a = []
print(a)

[]

In [2]:
a = [1,2,3,6,7]
print(a)

[1, 2, 3, 6, 7]

In [3]:
a = ['Korea', 'Kang',1,3,4,[2,5]]
print(a)

['Korea', 'Kang', 1, 3, 4, [2, 5]]

In [4]:
a = 'hello world'
b = list(a)
print(b)

['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

In [5]:
c = (1,2,3)
d = list(c)
print(c)
print(d)

(1, 2, 3)
[1, 2, 3]

In [7]:
e = a.split()
print(e)

['hello', 'world']

In [8]:
a = [1,2,3,4,5]
print(a[0])
print(a[3])
print(a[-1])
print(a[-2])

1
4
5
4

In [9]:
a[0] = 2
print(a)

[2, 2, 3, 4, 5]

In [10]:
b = 'hello world'

In [12]:
print(b[0])

h

In [14]:
b[0] = 'j'

TypeError: 'str' object does not support item assignment

In [15]:
a = 'hello world'
print(a[0])

b = 'hello world'
c = 'j' + a[1:]
d = a.replace('h', 'j')
print(b)
print(c)
print(d)
print(a)

h
hello world
jello world
jello world
hello world

In [16]:
a = [1,2,3,4,5,6,7,8,9,10]
print(a[1:3])
print(a[:5])
print(a[1:])
print(a[:])

[2, 3]
[1, 2, 3, 4, 5]
[2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [17]:
a[1:9:2] # 시작 : 끝 : 증가치

[2, 4, 6, 8]

In [18]:
b = a[0:10:3]
print(b)

[1, 4, 7, 10]

#function : append(), extend(),insert(), remove(),pop(),index() ..

In [19]:
#append()
a = [1,2,3,4,5]
a.append(10)
print(a)

[1, 2, 3, 4, 5, 10]

In [21]:
a = [1,2,3,4,5]
b = [6,7,8,9,10]
a.append(b)
print(a)
print(a[5])

[1, 2, 3, 4, 5, [6, 7, 8, 9, 10]]
[6, 7, 8, 9, 10]

In [22]:
#extend()
a = [1,2,3,4,5]
b = [6,7,8,9,10]
a.extend(b)
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [23]:
a = [1,2,3,4,5]
b = [6,7,8,9,10]
#a.extend(b)
a += b
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [24]:
#insert(), remove()
a = [1,2,3,4,5]
a.insert(1,10)
print(a)

[1, 10, 2, 3, 4, 5]

In [26]:
a = [1,2,20,4,5]
a.remove(20)
print(a)

[1, 2, 4, 5]

In [27]:
a = [1,2,2,4,5]
a.remove(2)  #첫번째 2가 제거
print(a)

[1, 2, 4, 5]

In [28]:
a = [1,2,3,4,5]
a.pop()
print(a)

[1, 2, 3, 4]

In [29]:
a = [1,2,3,4,5]
b = a.pop(1) # 여기서 1은 index 이다. 인덱스 1번째 가 pop됨
print(a)
print(b)

[1, 3, 4, 5]
2

In [31]:
a = [10,20,30,30,50]
a.index(30)

2

### list에 관련된 함수 찾는 방법
-> push 'tap', after entering 'list'

In [32]:
#keyword : in 
a = [10,20,30,30,50]
b = 30

c = b in a
print(c)
d = 10 in a
print(d)
e = 60 in a
print(e)

True
True
False

In [33]:
a = [0,2,8,3,5,9,-1]
a.sort()
print(a)

[-1, 0, 2, 3, 5, 8, 9]

In [35]:
a = [0,2,8,3,5,9,-1]
a.sort(reverse=True)
print(a)

[9, 8, 5, 3, 2, 0, -1]

In [36]:
a = [0,2,8,3,5,9,-1]
b = sorted(a)
print(a)
print(b)

[0, 2, 8, 3, 5, 9, -1]
[-1, 0, 2, 3, 5, 8, 9]

# tuple : considered as a constant array, not variable

In [37]:
a = [1,2,3]
b = {1,2,3}
print(type(a))
print(type(b))

<class 'list'>
<class 'set'>

In [38]:
a[0] = 100
print(a)

[100, 2, 3]

In [39]:
b[0] = 100 # 튜플은 변하지 못함

TypeError: 'set' object does not support item assignment

In [41]:
b = 1,2,3
print(type(b))

<class 'tuple'>

In [42]:
a, b, c, d = 100, 200, 300, 400
print(a, b, c, d)

100 200 300 400

In [43]:
a, b = b, a # swap
print(a,b)

200 100

# Dictionary
- {key : value}, access to value by key instead of index -> no index

In [46]:
a = {'korea' : 'seoul', 'canada' : 'ottawa', 'usa' : 'washington'}
print(type(a))

<class 'dict'>

In [47]:
print(a['korea'])

seoul

In [48]:
print(a['usa'])

washington

In [49]:
b = {100 : 1, 99 : 2, 88 : 3, 1 : 20, 2 : 30}
print(b[100])
print(b[1])

1
20

In [52]:
a = {'korea' : 'seoul', 'canada' : 'ottawa', 'usa' : 'washington'}
print(a)
a['japen'] = 'tokyo'
print(a)

{'korea': 'seoul', 'canada': 'ottawa', 'usa': 'washington'}
{'korea': 'seoul', 'canada': 'ottawa', 'usa': 'washington', 'japen': 'tokyo'}

In [54]:
a['korea'] = 'cheongju'
print(a)

{'korea': 'cheongju', 'canada': 'ottawa', 'usa': 'washington', 'japen': 'tokyo'}

### Functions : update(),clear()
### keywords : del, in

In [61]:
a = {'a' : 1, 'b' : 2, 'c' : 3}
b = {'a' : 2, 'd' : 4, 'e' : 5, 't' : 6}
a.update(b)
print(a)

{'a': 2, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 't': 6}

In [62]:
del a['b'] #remove an item of dict
print(a)

{'a': 2, 'c': 3, 'd': 4, 'e': 5, 't': 6}

In [64]:
c = 'b' in a
print(c)

False

In [65]:
a.clear()
print(a)

{}

#### function : get()

In [67]:
a = {'a' : 1, 'b' : 2, 'c' : 3}
print(a.get('d')) # get()을 쓰면 에러가 안나오기 때문에 get쓰는 것 추천
print(a['d'])

None

KeyError: 'd'

#### fucntions : keys(), values()

In [69]:
a = {'a' : 1, 'b' : 2, 'c' : 3}
print(a)
print(a.keys())
print(a.values())

{'a': 1, 'b': 2, 'c': 3}
dict_keys(['a', 'b', 'c'])
dict_values([1, 2, 3])

In [70]:
b = list(a.keys())
c = list(a.values())
print(b)
print(c)

['a', 'b', 'c']
[1, 2, 3]

# set
- set은 중복된 값 제거되어서 출력

In [73]:
a = {1,1,2,3,4,4,5,3,1}
print(a)

{1, 2, 3, 4, 5}

In [72]:
a = [1,1,2,3,4,4,5,3,1]
print(a)
b = set(a)
print(b)

[1, 1, 2, 3, 4, 4, 5, 3, 1]
{1, 2, 3, 4, 5}

# list, tuple, dictionary, set 정리

- list -> [1,2,3]
- tuple -> 1,2,3
- dictionary -> {'one' : 1, 'two' : 2, 'three' : 3}
- set -> {1,2,2,3}   = 출력 : {1,2,3}