In [1]:
def add2(x, y):
    n = x + y
    return n

In [2]:
hap = add2(30, 40)
print(hap)

70

In [3]:
def add3(x, y, z = 5):
    n = x + y + z 
    return n

In [4]:
a = add3(100, 200)
b = add3(100, 200, 300)
print(a)
print(b)

305
600

In [5]:
# the ordef of parameteers is changeable but not recommended
def test(x, y, z = 1):
    print(x)
    print(y)
    print(z)
    return 0

test(z = 100, x=200, y=99)

200
99
100

0

In [9]:
def testreturn(x,y,z=1):
    print(x)
    print(y)
    print(z)
    return
a = testreturn(1,2)
print(a)

1
2
1
None

In [10]:
def testreturn(x,y,z=1):
    print(x)
    print(y)
    print(z)
a = testreturn(1,2)
print(a)

1
2
1
None

In [11]:
def add_mul(x,y):
    s = x+y
    m = x*y
    return s, m
a = add_mul(4,5)
print(a)
print(type(a))

b, c = add_mul(4,5)
print(b,c)
print(type(b), type(c))

(9, 20)
<class 'tuple'>
9 20
<class 'int'> <class 'int'>

In [12]:
num1 = 10
num2 = 20

def add2(num1, num2):
    print(num1, num2)
    return(num1 + num2)

# add2(num1 = 30, num2 =40)도 동일
add2(30, 40)

print(num1, num2)

30 40
10 20

In [13]:
num1= 10
num2 = 20

def add2(in1, in2):
    print(in1, in2)
    return (in1 + in2)

add2(30, 40)

print(num1, num2)

30 40
10 20

In [14]:
def test(*args):
    print(type(args))
    for item in args:
        print(item)
        
test()
test(1)
test(1,2,3)

<class 'tuple'>
<class 'tuple'>
1
<class 'tuple'>
1
2
3

In [17]:
def test2(**x):
    print(type(x))
    for key in x:
        print(key, x[key])
    return
test2(a=1, b=2, c=3, d=4, name='kang')

<class 'dict'>
a 1
b 2
c 3
d 4
name kang

In [18]:
#example function : format()

a = "온도 : {}, 습도 : {}%, 강수확률 : {}%".format(20,90,100)
print(a)

온도 : 20, 습도 : 90%, 강수확률 : 100%

In [20]:
#place holder가 많아서 헷갈리는 경우 : 이름 명시
a = "온도 : {temp}, 습도 : {humidity}%, 강수확률 : {rain}%".format(rain=100, humidity=90, temp=20)
print(a)

온도 : 20, 습도 : 90%, 강수확률 : 100%

# lambda function

In [21]:
def square(x):
    return (x**2)

square(5)

25

In [22]:
square2 = lambda x:x**2
print(square2(5))
print(type(square2))

25
<class 'function'>

In [23]:
add = lambda x,y : x+y
add(1,2)

3

In [26]:
#Examplet combining with sort()

strings = ['bob', 'charies', 'alexander', 'teddy', 'jane']
strings.sort()
print(strings)

['alexander', 'bob', 'charies', 'jane', 'teddy']

In [27]:
def str_len(s):
    return len(s)
strings = ['bob', 'charies', 'alexander', 'teddy', 'jane']
strings.sort(key=str_len)
print(strings)

['bob', 'jane', 'teddy', 'charies', 'alexander']

In [31]:
def str_len(s):
    return len(s)
strings = ['bob', 'charies', 'alexander', 'teddy', 'jane']
strings.sort(key=str_len, reverse=True)
print(strings)

['alexander', 'charies', 'teddy', 'jane', 'bob']

In [28]:
strings = ['bob', 'charies', 'alexander', 'teddy', 'jane']
strings.sort(key=lambda s:len(s))
print(strings)

['bob', 'jane', 'teddy', 'charies', 'alexander']

In [29]:
def even(n):
    return n%2==0
a = [10,13,2,3,8,9,17]
b = list(filter(even, a))
print(b)

[10, 2, 8]

In [30]:
a = [10,13,2,3,8,9,17]
b = list(filter(lambda n:n%2==0, a))
print(b)

[10, 2, 8]

In [33]:
a = [10,13,2,3,8,9,17]
b = list(map(lambda n:n%2==0, a))
print(b)

[True, False, True, False, True, False, False]

In [34]:
a = [10,13,2,3,8,9,17]
b = list(filter(lambda n:n**2, a))
print(b)

[10, 13, 2, 3, 8, 9, 17]

In [37]:
import functools

a = [1,2,3,4,5]
b = functools.reduce(lambda x,y:x+y, a)
print(b)

15

In [42]:
import functools

a = [1,2,3,4,5]
b = functools.reduce(lambda x,y:x-y, a)
print(b)

-13

In [38]:
def mean(nums):
    _sum = 0
    for i in nums:
        _sum += i
    return(_sum/len(nums))

a = range(100)
b = mean(a)
print(b)

49.5

In [39]:
def is_prime(num):
    for i in range(2, num):
        if num % i == 0:
            return(False)
    return(True)

print(is_prime(5))
print(is_prime(25))
print(is_prime(37))

True
False
True

In [41]:
def num_prime(num):
    count = 0
    for i in range(2,num+1):
        if is_prime(i):
            count += 1
    return(count)

print(num_prime(5))
print(num_prime(7))
print(num_prime(100))

3
4
25